@import-normalize;

*,
*::before,
*::after {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

body {
	margin: 0;
	background-color: #d3d3d3;
	font-family:
		'Roboto',
		'Arial',
		'Helvetica',
		-apple-system,
		sans-serif;
}

button {
	cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-block: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

ol,
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
